/**
TESTIMONIAL Component
**/
.testimonial {
	padding-top:66px;
	padding-bottom: 0;
	background-color: #2d5159;
	// @include icon(bgptrn2, 100px, 100px, #1c414a);
	 @include iconbg(bgptrn2, #1c414a);
	background-repeat: repeat;
	background-size: 100px 100px;
	width: 100%;
	// height: 100%;
	overflow: hidden;
	position: relative;
//	display: inline-block;
// .testimonial-block {
// 	@include icon(bgptrn2, 100px, 100px, #1c414a);
// 		background-repeat: repeat;
// 		background-color: #2d5159;
// 	background-size: 100px 100px;
// 	// height: 100%;
// 	 width: 100%;
// }
.wowzer {
	color:#fff;
}
	.container{
			.row{
				//	display: table;
				//	height: 100%;
					margin: 0 auto;
			}
		}	
	@media screen and (min-width: $screen-sm-min){
		padding-top: 75px;
		.container{
			.row{
					// display: table;
					// height: 100%;
				
			}
		}	
	}
	&:before{
		content: '';
		display: block;
		position: absolute;
		top:0;
		left: 50%;
		margin-left: -40px;
	}	
}

.testimonial--white{
	&:before{
		@include icon(caret, 80px, 25px, $lt-white);
	}
}
.testimonial--gray{
	&:before{
		@include icon(caret, 80px, 25px, $lt-light-gray-3);
	}
}
.testimonial-txt {
	// border:1px solid #ccc;
  // flex: 0 1 auto;
	flex-grow:0;
	flex-shrink:1;
	flex-basis: auto;
	white-space: normal;
 	// display: block;
	padding: 1rem;
@media screen and (min-width: $screen-sm-min){
		text-align: left;
	}
}
.testimonial-image {
	// border: 1px solid #ccc;
	// display: table-footer-group;
	// display: inline-block;
	margin-right: 2rem;
	margin-bottom: 1rem;
	// width: 220px;
	align-self: center;
		@media screen and (min-width: $screen-sm-min){
			align-self: flex-start;
		}
	img {
		border-radius: 50%;
		width:220px;
		border: 6px solid #fff;
		filter:drop-shadow(5px 5px 10px black);
		-webkit-filter:drop-shadow(5px 5px 10px black);
	}
}
.testimonial-content {
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: -ms-flex;
		display: flex;
	// position: relative;
	// flex: 1;
	// overflow: hidden;
		flex-direction: column;
	  -moz-flex-direction: column;
	  -webkit-flex-direction: column;
	  -ms-flex-direction: column;
		justify-content: center;
		margin-bottom: 2rem;
		position: relative;
		text-align: center;
		padding: 40px;
		@include lshape-enclosure(lshape, 20px, 27px, $lt-red, 30px);

		@media screen and (min-width: $screen-sm-min){
			margin: 30px 0;
			@include lshape-enclosure(lshape, 40px, 55px, $lt-red, 40px);
		}
		//
	@media screen and (min-width: $screen-sm-min){
		flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	}
}
.testimonial-copy {
	width: 100%;
	// display: table-header-group;
	// display:inline-block;
	// width: 100%;
	// > div{
	// //	display:block;
	// 	// width: 100%;
	// 	margin-bottom: 2rem;
	// 	position: relative;
	// 	text-align: center;
	// 	padding: 40px;
	// 	@include lshape-enclosure(lshape, 20px, 27px, $lt-red, 30px);

	// 	@media screen and (min-width: $screen-sm-min){
	// 		margin: 30px 0;
	// 		@include lshape-enclosure(lshape, 40px, 55px, $lt-red, 40px);
	// 	}
	// }
	.testimonial-quote{
		font-size: 19px;
		font-weight: 300;
		margin-bottom: 2rem;
		

		@media screen and (min-width:$screen-sm-min){
			font-size: 24px;
			margin-bottom: 6rem;
		}
	}
	.testimonial-cite{
		color: $lt-dark-gray-3;
	}

	// @media screen and (min-width: $screen-sm-min){
	// 	display: table-cell;
	// 	height: 100%;
	// 	vertical-align: middle;
	// 	width: auto;
	// 	// float: none !important;
	// }

	&--only{
		display: block;
		// height: auto;
		// float: auto !important;
		margin: 0 auto 30px auto;

		@media screen and (min-width: $screen-sm-min){
			width: 90%;
		}
	}
}


